body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis .tick{
  font: 16px arial;
  font-weight: bold;
}

.x.axis .tick{
  font: 16px arial;
  font-weight: bold;
}